body {
	padding-bottom: 3rem;
	color: #5a5a5a;
}

.nav {
	font-size: 20px;
}

.carousel-caption {
	bottom: 4rem;
	z-index: 10;
}

.carousel-item {
	height: 27rem;
}

.foodie {
	background-image: url('/img/foodie.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
}

@media ( min-width : 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
}